<div
  class="drag-and-drop-alert alert alert-info no-drag"
  style="text-align:center;"
  role="alert"
  data-noattach="true"
  data-position="{{ctx.position}}"
>
  <!-- {{ctx.t('Drag and Drop a form component')}} -->

  اسحب و افلت الاداة هنا من صندوق الادوات
</div>
